<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metronome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Metronome</h1>
    
    <p>Server Status: <span id="serverStatus">Checking...</span></p><br>
    <button id="toggleBtn">Start</button>
    <br><br>
    <button id="decreaseBpm" class="bpmBtn">- {{ bpm_step }}</button>
<label for="bpmSlider">BPM:</label>
<input type="range" id="bpmSlider" min="40" max="300" value="{{ bpm }}">
<input type="text" id="bpmInput" value="{{ bpm }}" size="2">
<button id="increaseBpm" class="bpmBtn">+ {{ bpm_step }}</button><br><br>
    <h2>Bar track</h2>
    <textarea id="loopInput" rows="6" cols="30">bar(4,4)</textarea>
    <br>
    <button id="applyLoopBtn" class="applyBtn">Apply</button>
    <!--<button id="resetBtn">Default</button>-->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
